.css_button_1 {
    -fx-background-color: #008cff;
}
.css_button_2 {
    -fx-background-color: #008cff;
}
.css_button_3 {
    -fx-background-color: #008cff;
}
.css_button_3_2 {
    -fx-background-color: #008cff;
}
.css_button_4 {
    -fx-background-color: #008cff;
}
.css_button_5 {
    -fx-background-color: #008cff;
}
.css_button_6 {
    -fx-background-color: #008cff;
}

.test_button {
    -fx-background-color: #008cff;
}
.test_label {
    -fx-background-color: #008cff;
}
.test_textfield {
    -fx-background-color: #008cff;
}
.test_label_button_label {
    -fx-background-color: #008cff;
}
.test_label_button_svgpath {
    -fx-background-color: #008cff;
}
.root {
    -fx-background-color: #008cff;
}