/* Default Style */
.label {
    -fx-background-color: #ffffff;
}

.label .svg-path {
    -fx-stroke: black;
}

/* Hover Style */
.label:hover {
    -fx-background-color: #fafafa;
}

.label:hover .svg-path {
    -fx-stroke: #00e1ff;
}

/* Selected Style */
.label.selected {
    -fx-background-color: #ffc0c0;
}

.label.selected .svg-path {
    -fx-stroke: #785bff;
}